In [1]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

import pandas as pd
import csv
import numpy as np

### Load User Artists Data file

Let's load the user artist Data file -- this is our main data. And it's pretty clean.

Notice that what we have is the playcount.  That's not the same as a rating.  We'll need to decide how we deal with this.

In [2]:
dataset = pd.read_csv("../data/audioscrobble/user_artist_data.csv.gz")
dataset

           User    Artist  PlayCount
0       2398725       598          1
1       2430132   1001582          1
2       2063323   1342138          1
3       2429835   1055519          7
4       2073565   1030685          1
5       2165208   6865656          1
6       2125388   1007006          2
7       2178179   1015794          4
8       2337258   1002328          1
9       2355419   1003741          1
10      1005051      2249          1
11      2156825   2152544          4
12      2050231   6755017          3
13      1047853       121         22
14      2178597      1390         85
15      2004429   1100522          1
16      2174785   1233793         12
17      2075647   1001412          4
18      2159048   1103014         21
19      2271867   1006102          2
20      2016463   1011307          2
21      2136391       377          3
22      2391823   1007810         74
23      2159971   1001141         38
24      2285032   1251186          1
25      2317047   1030060          2
26      1059672   1005107         20
27      2034680   2148238          1
28      2328311       166          2
29      2376832   1112548          2
...         ...       ...        ...
999970  1003929   1005059          2
999971  1004243      1517         10
999972  1052236   2004991          3
999973  2233427      1873         23
999974  2177213   1004946          1
999975  2028474   1028754          1
999976  1062855   1000123         16
999977  2408487   6608473         34
999978  2125375   9981138          2
999979  1043122   2140394          1
999980  2236325   1002925          1
999981  2189125   1000230          1
999982  1063006   6605011          3
999983  1050752   1004805          1
999984  2316598   6998354          1
999985  1070704   1275552          1
999986  2199022  10405183          1
999987  1071202   1029170          1
999988  2316376   2084990         21
999989  2118740   1003689         16
999990  2079105   1000263          8
999991  2054201   1003727          5
999992  2041661   7013470          4
999993  2180960   1002619          4
999994  2205133   1000069          1
999995  1046396   1077363          3
999996  2268571       234          5
999997  2058278   6965751          5
999998  1006614   1246858          2
999999  2191085   1021607          1

[1000000 rows x 3 columns]

### Let's load the artist alias file

This is a file that has artist aliases.  Misspellings, alternate versions, etc.  This will help us clean up our data.

We'll load this into a a dictionary of str:str

In [3]:
alias = {}
reader = csv.reader(open('../data/audioscrobble/artist_alias.txt', 'r'), delimiter='\t')
alias = dict(reader)
alias

{'': '1329310',
 '10229482': '1013391',
 '1208828': '3940',
 '10232660': '873',
 '1115114': '1041572',
 '7002396': '1008485',
 '1125317': '742',
 '1270337': '1350694',
 '6749716': '1010227',
 '6725879': '1128716',
 '9973296': '6992495',
 '2082714': '2003588',
 '9964764': '6739971',
 '1155014': '1002457',
 '2107934': '1003249',
 '9985966': '1086065',
 '1216282': '1000024',
 '10382004': '10694359',
 '1007244': '1000896',
 '1046463': '1246719',
 '1094068': '1237611',
 '2140802': '1250104',
 '6685178': '5919',
 '2121648': '1002398',
 '2140003': '1027907',
 '6654740': '15',
 '10387491': '1239101',
 '1341378': '976',
 '10056199': '1044562',
 '6792066': '581',
 '1312270': '1010642',
 '6700723': '7022762',
 '6963681': '1024208',
 '1074814': '1000251',
 '9979719': '1330953',
 '2013902': '1003300',
 '6990355': '1238128',
 '2066901': '606',
 '6992629': '2966',
 '10086799': '1041936',
 '6674711': '6884097',
 '10309755': '1006384',
 '9994576': '4605',
 '6683690': '908',
 '6867525': '1001412',
 '6669293': '2081203',
 '10152590': '1000405',
 '2148593': '10079015',
 '1067103': '1010075',
 '9971157': '599',
 '1235247': '223',
 '6779669': '1081283',
 '6848006': '2159992',
 '2112203': '3843',
 '6731481': '6681468',
 '6777745': '1000113',
 '6925978': '2102629',
 '10316724': '873',
 '10074347': '1000113',
 '10130082': '1001582',
 '10195505': '1006332',
 '6750744': '1009291',
 '9903814': '1021458',
 '1070655': '1414',
 '6634469': '1000113',
 '2011875': '4481',
 '6914782': '1287942',
 '1302792': '1002270',
 '10181769': '1039670',
 '1106500': '1289769',
 '7003946': '4540',
 '1064202': '1004294',
 '1003123': '2231',
 '6922191': '1050475',
 '1255376': '1235152',
 '1157295': '1008567',
 '1182462': '1344463',
 '1056452': '1000689',
 '2008920': '1000113',
 '6692604': '1000188',
 '1339759': '1288217',
 '1323621': '1330120',
 '10166176': '9951093',
 '6650482': '1000251',
 '10412198': '1010353',
 '1237955': '1234278',
 '6782144': '1194',
 '6822552': '1065448',
 '1046670': '1260955',
 '1002149': '1043638',
 '7033201': '1306616',
 '2162834': '692',
 '9995332': '1298360',
 '6801942': '1058686',
 '1159200': '930',
 '2144177': '1106771',
 '1124182': '2035',
 '10444995': '1001412',
 '1237607': '1000251',
 '9975691': '1062984',
 '1123042': '1010650',
 '6636910': '6634984',
 '6896572': '2045507',
 '6800945': '1073380',
 '1027027': '1329137',
 '1087406': '1008419',
 '6705379': '2214',
 '6732827': '1270717',
 '2004690': '1890',
 '6852938': '1000525',
 '1109852': '1003159',
 '2023033': '1011227',
 '1258425': '5734',
 '1022536': '1300606',
 '2120201': '4241',
 '6979544': '1012257',
 '1168339': '53',
 '10379385': '4061',
 '2155773': '1001807',
 '1164620': '979',
 '1047961': '2',
 '1314784': '1013203',
 '1181660': '1038315',
 '6831872': '1010643',
 '1179276': '1328036',
 '6770491': '1003083',
 '1090648': '1000744',
 '1191283': '377',
 '2078548': '1000139',
 '10195422': '1293079',
 '6805810': '1003568',
 '1091360': '1000630',
 '2170747': '1001368',
 '1149501': '648',
 '1199720': '1811',
 '1320392': '1002097',
 '10014683': '1051571',
 '9922810': '1001861',
 '2132420': '1273283',
 '10255638': '1003278',
 '1067486': '1161',
 '6700706': '1344754',
 '10279221': '1003468',
 '2035764': '1000024',
 '2095477': '4535',
 '1003542': '1000188',
 '6812520': '1003176',
 '1165923': '1274',
 '10355076': '1002289',
 '2004954': '1009229',
 '6904695': '1237201',
 '1157425': '1030598',
 '1170377': '70',
 '1351045': '1346555',
 '6752869': '15',
 '1307528': '2036704',
 '6913418': '1026084',
 '9961062': '6865486',
 '1002088': '718',
 '1012411': '1002320',
 '6711291': '981',
 '1077296': '1007498',
 '6605628': '2032310',
 '6637844': '1034635',
 '1012695': '1256628',
 '2096461': '3042',
 '1096367': '1003282',
 '1150628': '1818',
 '6810334': '1000597',
 '1120948': '1012991',
 '2117766': '1064476',
 '9942683': '9942701',
 '6819291': '1277876',
 '10184388': '1049293',
 '1105046': '1002412',
 '1072867': '1001341',
 '1230553': '1107292',
 '6961986': '1000196',
 '9915271': '1000574',
 '2095249': '1238192',
 '10091472': '1000113',
 '10230111': '827',
 '2088356': '1329178',
 '2136890': '3533',
 '1048021': '813',
 '2113457': '4316',
 '6990238': '868',
 '1083838': '1004162',
 '7020161': '1942',
 '7003742': '1060338',
 '1253338': '1154557',
 '1323330': '1078311',
 '9934577': '1268539',
 '6603887': '1246573',
 '6664459': '6689519',
 '10108960': '1004484',
 '6872930': '1082670',
 '6664141': '1104896',
 '10374278': '1237363',
 '10112295': '1233781',
 '10059634': '1205',
 '2130620': '1000062',
 '9929787': '59',
 '6732318': '2085',
 '10084826': '1000591',
 '1116856': '3066',
 '10152523': '1000017',
 '10035779': '1057501',
 '6819581': '1087001',
 '1285905': '1238242',
 '10136066': '313',
 '6815288': '1086065',
 '6924955': '1003572',
 '6762162': '1000525',
 '1232991': '1019144',
 '6759459': '1009958',
 '1012177': '4303',
 '1269801': '1245952',
 '2045693': '1014421',
 '10286151': '1022473',
 '6775012': '1001946',
 '1332317': '1332843',
 '6860396': '1065064',
 '1045685': '1000042',
 '6732692': '1306651',
 '1182911': '4605',
 '6845418': '1233606',
 '6856117': '6620803',
 '9919844': '4471',
 '2015932': '1045459',
 '1038063': '1247118',
 '6762298': '1257158',
 '1004781': '1002269',
 '1194133': '1187188',
 '2103179': '1004142',
 '1305241': '5815',
 '1239853': '1252388',
 '6904333': '1005975',
 '9903462': '1063561',
 '2025411': '1182',
 '6964414': '153',
 '9999130': '1024035',
 '1162006': '1000239',
 '1001547': '1010458',
 '2164633': '1002626',
 '2003333': '1020852',
 '1138063': '739',
 '2140732': '1003673',
 '2081433': '1252230',
 '6851057': '1000329',
 '1007510': '1021625',
 '6694021': '1132370',
 '2108457': '297',
 '1092532': '1004573',
 '2058832': '1004162',
 '9912292': '1004584',
 '10094819': '1000881',
 '2146079': '1',
 '1151949': '976',
 '2073810': '1017959',
 '7031923': '3619',
 '6816831': '1007614',
 '9973794': '6910087',
 '6989813': '1303128',
 '6925532': '1256375',
 '2020573': '1038553',
 '2105657': '1001909',
 '1064820': '1014033',
 '10112619': '1100604',
 '10551446': '1779',
 '1002554': '1002097',
 '6698410': '530',
 '6665052': '1086348',
 '6706217': '2020',
 '1189355': '873',
 '10173634': '1000239',
 '1155682': '1252',
 '10085690': '1052085',
 '10107137': '1003694',
 '6850191': '1238128',
 '2054020': '1233343',
 '6622380': '946',
 '1043218': '1003313',
 '6684982': '1000241',
 '1080725': '352',
 '1036573': '1005936',
 '2032141': '1162',
 '1057542': '1264842',
 '1309393': '1005107',
 '6742863': '2281430',
 '1154144': '2214',
 '6783582': '792',
 '1262288': '1006016',
 '2133340': '1003296',
 '10099027': '1114185',
 '2127718': '1028270',
 '6968242': '1190044',
 '6607575': '3292',
 '1052598': '512',
 '1157636': '2064384',
 '2050677': '1034635',
 '7013182': '1000925',
 '9910430': '1018259',
 '2009686': '2712',
 '6625058': '1095443',
 '1104171': '4377',
 '6893525': '1001249',
 '10123206': '6767305',
 '1157249': '1233712',
 '9909340': '2666',
 '1123563': '1478',
 '10170811': '1000107',
 '6775598': '1238006',
 '1173941': '1000183',
 '1023533': '1044545',
 '1148775': '1000113',
 '10302354': '1006016',
 '2130405': '1271414',
 '10244944': '1002626',
 '6966780': '1018110',
 '2058571': '1001350',
 '2100294': '1008452',
 '10140892': '10161488',
 '1027863': '1811',
 '6807015': '1001550',
 '6689202': '979',
 '2000376': '1003592',
 '6811446': '1237427',
 '1014979': '1327894',
 '2111608': '4192',
 '2128637': '1259297',
 '1133211': '1001514',
 '6665612': '6679600',
 '10102519': '1082784',
 '6859968': '1007725',
 '1070420': '1000112',
 '6889333': '2030000',
 '1050456': '1007569',
 '1258908': '1015569',
 '9958208': '1298291',
 '6897192': '2039238',
 '10208854': '1250104',
 '2132467': '1002742',
 '1200969': '1103327',
 '2046081': '2943',
 '7035887': '1299851',
 '2163607': '1262034',
 '1113552': '1086700',
 '10186078': '2034749',
 '1191016': '1024024',
 '1096314': '1003282',
 '9915142': '1029042',
 '2129958': '1004028',
 '6915915': '1000108',
 '1051429': '949',
 '6742942': '1006016',
 '6996288': '4209',
 '6993741': '1009898',
 '6843169': '1083922',
 '2280753': '82',
 '2153205': '1238013',
 '1326006': '1001811',
 '1271591': '1012354',
 '6744064': '930',
 '10105975': '1212',
 '1293493': '1307',
 '10073388': '2150235',
 '6742751': '1007498',
 '1281831': '1002984',
 '1055709': '1004459',
 '10374018': '1114234',
 '2027856': '930',
 '10284861': '5661',
 '6907831': '5661',
 '2086989': '1322045',
 '1014168': '1000854',
 '6704158': '1006219',
 '1200220': '979',
 '1288336': '1245812',
 '10134210': '10141260',
 '9905896': '1058104',
 '1068974': '4377',
 '10618477': '1002516',
 '6980384': '4267',
 '1216047': '1394',
 '1108419': '1000790',
 '6608626': '1027057',
 '1097951': '1000024',
 '6774934': '1843',
 '10357747': '6634710',
 '6606333': '1244111',
 '9960417': '1000139',
 '6883755': '1003284',
 '10047187': '1030564',
 '2071933': '1018807',
 '2145126': '1000200',
 '10038654': '3324',
 '2032519': '4468',
 '2096596': '1007347',
 '2050418': '2098118',
 '10108198': '1256628',
 '6630304': '296',
 '9911879': '1000009',
 '6673738': '1274',
 '1330282': '1105079',
 '9989262': '1240103',
 '10070487': '1003342',
 '10127419': '1012553',
 '6744303': '1791',
 '6876454': '1006229',
 '1120438': '1009807',
 '10053947': '1495',
 '9939437': '1000591',
 '10046549': '1260159',
 '6979579': '1246073',
 '2145432': '1000557',
 '2011640': '891',
 '2036301': '1021124',
 '10282788': '10243185',
 '1044116': '221',
 '6819538': '1001169',
 '2107610': '6733832',
 '2045202': '2151278',
 '7012043': '4295',
 '6704725': '1017893',
 '10269876': '1057440',
 '10373312': '4468',
 '2124334': '1064564',
 '6731083': '1231740',
 '6604014': '1290420',
 '1054368': '1039134',
 '1105910': '2020602',
 '1161947': '1120965',
 '10213421': '1033900',
 '1044481': '1051049',
 '6853501': '1000010',
 '2028329': '793',
 '1333676': '1050035',
 '1108685': '1000024',
 '1177955': '1000993',
 '7007203': '1000527',
 '10353054': '1279995',
 '1325652': '1000985',
 '1056886': '1274',
 '6650925': '1327092',
 '10254602': '1000024',
 '10236696': '976',
 '2040267': '1068713',
 '10284016': '10042138',
 '6612961': '2163796',
 '10057801': '1086941',
 '6973015': '6910087',
 '1062381': '6910087',
 '6966598': '2027899',
 '6688940': '1036738',
 '6617193': '1029464',
 '10401960': '1002615',
 '2119349': '1001249',
 '6898978': '1001384',
 '2091770': '2014011',
 '9912938': '411',
 '1041956': '1001534',
 '6671493': '1001646',
 '6935252': '4209',
 '1014443': '1246073',
 '10111807': '1234937',
 '10115725': '1003052',
 '6649808': '1080874',
 '1026887': '1291388',
 '2094382': '979',
 '6981120': '4267',
 '1105492': '4295',
 '7008380': '1004075',
 '1157377': '793',
 '6736200': '1150364',
 '10025728': '6639603',
 '1106092': '930',
 '10110118': '1001352',
 '2163228': '1001647',
 '6741471': '816',
 '6800253': '250',
 '2001810': '1006979',
 '2154143': '1316617',
 '6913235': '1000113',
 '2096746': '304',
 '1026197': '1242104',
 '1177963': '2047',
 '10326635': '1838',
 '1316516': '1309138',
 '1290148': '2075438',
 '2044483': '10076841',
 '6974623': '883',
 '9905710': '1539',
 '1181227': '1000265',
 '1013069': '386',
 '10021119': '1011745',
 '6774883': '10022526',
 '6749347': '1092364',
 '1177828': '6621492',
 '10291854': '2003588',
 '6889224': '1007473',
 '1011327': '786',
 '6771864': '1018773',
 '1121308': '2132',
 '1249325': '1002128',
 '10045565': '1044781',
 '10355880': '82',
 '2003949': '1000889',
 '9919939': '1981',
 '9926055': '1263866',
 '1110641': '1000570',
 '10328624': '1000115',
 '6839636': '1011299',
 '10161135': '1001482',
 '1163109': '1235094',
 '2176664': '1009567',
 '10342995': '1000123',
 '10482133': '2070058',
 '6907494': '1233107',
 '7016548': '1021581',
 '2059954': '1052332',
 '1093230': '1245815',
 '10209303': '1009306',
 '1278696': '1002480',
 '10014441': '1088203',
 '6899562': '1010353',
 '10372791': '1000442',
 '1337071': '1004459',
 '10268884': '1005176',
 '10375992': '1205',
 '10223301': '1271726',
 '6942805': '4185',
 '6822559': '1014421',
 '1153480': '3327',
 '6840880': '1027015',
 '7017769': '1159360',
 '1147784': '5477',
 '2049099': '1002623',
 '6662275': '6914984',
 '1035680': '1000487',
 '6742644': '1326',
 '2137483': '1239504',
 '1210819': '1235094',
 '6790844': '1001348',
 '1048137': '1040652',
 '1170846': '1161',
 '9924760': '1001989',
 '1025497': '5657',
 '10301550': '1004294',
 '2030004': '2247',
 '9902385': '1037510',
 '9944058': '1000017',
 '6793398': '4224',
 '10033772': '4569',
 '6652986': '1346867',
 '10048405': '1000899',
 '1011342': '1110264',
 '6959141': '4267',
 '1039294': '3195',
 '2040483': '2060894',
 '10234007': '10029852',
 '6817021': '1211776',
 '10293624': '1161',
 '10198975': '2012146',
 '1278327': '792',
 '10012029': '976',
 '2028139': '1162',
 '6642651': '1000323',
 '6826050': '1030506',
 '6672789': '1000343',
 '10151717': '1024377',
 '6748084': '1000033',
 '6743979': '2066214',
 '10284013': '1001180',
 '10244856': '82',
 '2172835': '1000280',
 '10281810': '1000114',
 '1035927': '1056687',
 '10441813': '10441564',
 '2049543': '4569',
 '1270913': '1018112',
 '6777341': '1003694',
 '6686102': '1009980',
 '6967715': '2102299',
 '6836820': '1018404',
 '10099985': '1018746',
 '1336381': '1022967',
 '10179873': '6980505',
 '6938048': '1006885',
 '2021613': '1001052',
 '2058653': '2010',
 '2043278': '1128628',
 '2080298': '807',
 '6803505': '1013068',
 '1315497': '1056259',
 '6604000': '1003455',
 '10015847': '1101322',
 '10141694': '2636',
 '10107331': '1307484',
 '2037621': '1023764',
 '6927101': '4163',
 '6825930': '1008193',
 '6919216': '4567',
 '1136742': '1000525',
 '6890332': '873',
 '10194454': '6622181',
 '6972443': '1001582',
 '6803011': '1082784',
 '1060188': '1000062',
 '10251146': '1080556',
 '6841022': '1000031',
 '10118138': '1651',
 '1113800': '4267',
 '1072087': '1000697',
 '1329108': '1279383',
 '1207088': '1000591',
 '1033495': '1003159',
 '6984617': '1018112',
 '10180785': '1000321',
 '1101344': '1000140',
 '1348000': '425',
 '2022059': '1260969',
 '2178918': '1344900',
 '1282987': '2070',
 '1115275': '1002626',
 '10103083': '411',
 '2119815': '1003296',
 '1187599': '1004162',
 '6789896': '1083559',
 '10176453': '1302879',
 '6774166': '1236878',
 '2075007': '1077229',
 '6609055': '1001353',
 '9971468': '1394',
 '2068818': '1001027',
 '1125248': '1006016',
 '6753754': '1031656',
 '1010266': '1012363',
 '10170101': '1000993',
 '6653598': '1237546',
 '2046710': '1006016',
 '1314607': '1501',
 '6640301': '1000639',
 '6672982': '1205708',
 '1114847': '1002604',
 '1237945': '1238128',
 '1103490': '1002404',
 '1341950': '1001590',
 '6750238': '1000790',
 '10111891': '1009633',
 '1102906': '1029391',
 '1147520': '1008035',
 '2132619': '1003750',
 '1307651': '4605',
 '2083257': '1011017',
 '6858766': '1002270',
 '6819386': '1001861',
 '6820199': '1000251',
 '6663051': '4569',
 '6613617': '1001470',
 '6778715': '1000996',
 '6674984': '1198316',
 '2110309': '1003926',
 '1260464': '1050053',
 '1076547': '1003694',
 '10013379': '2001095',
 '10123938': '1058718',
 '6804547': '1237909',
 '1066484': '1016551',
 '2003729': '1688',
 '7001543': '979',
 '2108381': '1008164',
 '6883497': '1004480',
 '1314795': '2153653',
 '2063488': '1003557',
 '2174771': '1001277',
 '1063346': '15',
 '2078816': '5837',
 '2046599': '969',
 '10087037': '1042367',
 '6956231': '1257296',
 '10479739': '82',
 '6723643': '1001655',
 '1064014': '1236933',
 '10159043': '1319489',
 '6791360': '1025118',
 '1235267': '1034635',
 '6765795': '1060039',
 '6697961': '1279485',
 '1146559': '1367',
 '1285832': '1307484',
 '1055051': '581',
 '6990626': '10322989',
 '10221977': '4622',
 '1046064': '979',
 '9967183': '1274',
 '1351144': '1000738',
 '1244982': '1028445',
 '9940044': '1014530',
 '10009256': '1105360',
 '2177048': '1003311',
 '1244442': '1016109',
 '10149838': '1016335',
 '6902888': '1240025',
 '2134223': '1286409',
 '6786705': '1046450',
 '9992824': '1183',
 '6748182': '1016435',
 '1160669': '2066058',
 '6603691': '1279932',
 '10358403': '2007856',
 '1284949': '1004349',
 '2031926': '2018131',
 '2166452': '6620803',
 '6931059': '1331532',
 '10235678': '1204',
 '6656413': '1021245',
 '6663132': '386',
 '1176689': '1008984',
 '6796846': '1016335',
 '10155732': '1390',
 '1260257': '1001302',
 '1098425': '1012063',
 '2170417': '1028335',
 '2006072': '1000260',
 '9955424': '1013088',
 '6960658': '1009325',
 '6760027': '1013391',
 '1328789': '1014644',
 '7012682': '1005009',
 '1276719': '1025817',
 '10368119': '930',
 '1340347': '1063021',
 '1083837': '1004162',
 '1121037': '1068711',
 '1216350': '1004657',
 '7005777': '1259542',
 '2156757': '1045490',
 '10143260': '1044504',
 '9931517': '1011650',
 '2156726': '1001582',
 '6636043': '1304457',
 '2179289': '1000881',
 '1018737': '1094087',
 '9936061': '1212',
 '1151681': '1003342',
 '6952475': '1003564',
 '10336523': '1010296',
 '2050825': '313',
 '1018608': '1256667',
 '1306442': '2085',
 '6757140': '1023462',
 '10337239': '1007576',
 '2119951': '2017',
 '6763088': '1000263',
 '9967160': '1130239',
 '6860111': '1007725',
 '2056327': '1004975',
 '1196113': '1043850',
 '1290467': '1001443',
 '6840806': '1010602',
 '10573245': '1020310',
 '10255109': '500',
 '1335026': '1001115',
 '10269154': '1057881',
 '1161983': '5063',
 '1031636': '979',
 '10030386': '1300816',
 '1285249': '1002262',
 '2035299': '1260818',
 '10274156': '1058104',
 '10106006': '1001582',
 '6732508': '1078331',
 '1258837': '1003101',
 '10073329': '1007614',
 '6958110': '1006085',
 '6824317': '1336332',
 '6606623': '1034635',
 '6874419': '1275996',
 '10025188': '1255262',
 '1081027': '721',
 '1133496': '1009198',
 '1152328': '3150',
 '6641087': '2211',
 '2044763': '1007666',
 '6844223': '6773155',
 '6895688': '5757',
 '2129770': '1294146',
 '2089895': '1854',
 '1179692': '83',
 '1033760': '1200',
 '10042707': '1274',
 '1296271': '4154',
 '2064352': '1000112',
 '2054556': '1246136',
 '10091431': '1009082',
 '6622376': '1000998',
 '2063963': '1000123',
 '2095169': '1000952',
 '1029255': '1811',
 '1153178': '733',
 '10073228': '1000024',
 '1169622': '1049531',
 '9997139': '1094',
 '6796992': '1078665',
 '10229514': '1001052',
 '10054408': '2600',
 '1004148': '1003685',
 '1194947': '1002181',
 '1050873': '1004459',
 '2155253': '1086433',
 '1117060': '4241',
 '5867': '10043355',
 '10289329': '1000854',
 '6813964': '1002732',
 '6816559': '1008515',
 '10011434': '2116802',
 '10251795': '1255262',
 '6622613': '5715',
 '1258928': '1854',
 '1064485': '1011608',
 '6840560': '2070111',
 '10302698': '3656',
 '2097175': '1005290',
 '1012985': '1233936',
 '2172753': '1001003',
 '1004733': '1021625',
 '10132967': '4377',
 '9944171': '10225404',
 '9999465': '5804',
 '6831681': '1024514',
 '1341589': '1333157',
 '1275425': '1239521',
 '6903810': '1001597',
 '1207846': '1088944',
 '1094101': '1233196',
 '1259560': '6668376',
 '10284462': '1327961',
 '1128909': '1000010',
 '9965817': '1236933',
 '6683727': '1076281',
 '10255539': '1003694',
 '2005093': '1537',
 '1016823': '1809',
 '6685719': '969',
 '6619375': '2017',
 '6669974': '1004321',
 '731': '1065029',
 '9946984': '1006016',
 '1091230': '2900',
 '6731433': '3871',
 '9901718': '1018211',
 '6967562': '1004166',
 '6757764': '1007205',
 '6726726': '1015619',
 '2029969': '2029591',
 '9990218': '1008419',
 '1223115': '1003681',
 '6750723': '1005081',
 '10345213': '860',
 '1179666': '2600',
 '10025893': '1082784',
 '6964949': '1005043',
 '10357392': '1006039',
 '6708924': '1010249',
 '1032352': '930',
 '6919832': '5717',
 '1311412': '1201',
 '6808263': '1005180',
 '10064395': '1024472',
 '6662817': '1013247',
 '1018922': '1006384',
 '2023598': '1102727',
 '1006507': '1155',
 '6654055': '1236660',
 '2067672': '1008376',
 '1245306': '1001523',
 '10087175': '1002840',
 '10060796': '6820247',
 '2087360': '1001482',
 '1145056': '5602',
 '1253706': '1000329',
 '1183033': '1004431',
 '1098267': '1003950',
 '6800668': '1002404',
 '6944705': '1236878',
 '6909269': '1237925',
 '10313363': '4250',
 '1131107': '1034635',
 '1341010': '1000881',
 '6997303': '1002586',
 '10366537': '6660665',
 '6940447': '1004416',
 '10365271': '1026534',
 '10456223': '1044920',

In [4]:
# Clean up the dataset artist by using the dictionary.
dataset['Artist'] = dataset['Artist'].apply(lambda x: int(alias[str(x)]) if str(x) in alias else x)

### Let's look at a summary of the data

* ** TODO: Do a describe() on the data **

In [5]:
### TODO: DO a describe() on the dataset()
dataset.describe()

               User        Artist       PlayCount
count  1.000000e+06  1.000000e+06  1000000.000000
mean   1.947964e+06  1.697855e+06       15.160827
std    4.957024e+05  2.513439e+06       75.233635
min    9.000000e+01  1.000000e+00        1.000000
25%    2.012096e+06  1.000268e+06        1.000000
50%    2.122280e+06  1.012972e+06        3.000000
75%    2.280524e+06  1.235666e+06        9.000000
max    2.443492e+06  1.079431e+07    32768.000000

### Decide what to do with the playcount

How are we going to deal with the playcount?  Presumably, if the person likes the music, they will play it more. If they only play it once or twice, maybe they didn't like it?  Hard to say, but we have to do something with it.

Here's a proposal.  We'll treat the playcount as a "rating" from 1 to 5.  Playcounts of higher than 5 will just be 5. Presumably if someone who plays a song more than 5 times likes it.

We then have to set the "scale" of the rating.  Here from 1 to 5.

* ** TODO: What is your idea? Do you have a better way of treating the playcount?  **

In [6]:
dataset['Rating'] = dataset['PlayCount'].apply(lambda x: 5 if x > 5 else x)  # Playcounts > 5 are treated as 5.

# A reader is still needed but only the rating_scale param is required.
reader = Reader(rating_scale=(1, 5))

### TODO: Think of a way todo the Playcount.

### Convert pandas dataframe to Dataset format

We need to use the internal scikit-surprise format for the data.  Luckily, it's easy to convert from a pandas dataframe.

In [7]:
# Load the audioscrobbler dataset
data = Dataset.load_from_df(dataset[['User', 'Artist', 'Rating']], reader)

### Use the SVD Algorithm to train the model.

Note: This may take a LOOONNG time to run.
    
We will run a cross validation while we train and get the results.

In [8]:
# Run 5-fold cross-validation and print results.
cross_validate(SVD(), data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     1.4866  1.4880  1.4849  1.4893  1.4869  1.4871  0.0015
RMSE (testset)    1.6611  1.6624  1.6594  1.6648  1.6618  1.6619  0.0018
Fit time          313.68  347.09  365.27  368.17  143.12  307.47  84.43
Test time         17.37   17.73   21.42   6.73    4.20    13.49   6.75

{'fit_time': (313.6777060031891,
  347.09243512153625,
  365.26723289489746,
  368.1741259098053,
  143.11809706687927),
 'test_mae': array([ 1.48655585,  1.48802427,  1.48487447,  1.48933126,  1.48685934]),
 'test_rmse': array([ 1.66109917,  1.66239648,  1.65940684,  1.6647684 ,  1.66181293]),
 'test_time': (17.374589920043945,
  17.731313943862915,
  21.423437118530273,
  6.7327799797058105,
  4.199251174926758)}

### Evaluate the Results

What is the RMSE?  What does that tell us about the results?